.container {
  display: block;
  max-width: 850px;
  margin: 30px auto;
  padding: 40px;
  padding-bottom: 0;
  border: 1px #f9f9ea solid;
  border-radius: 10px;
  background: linear-gradient(to top, #feffdf 0%, #ffe79a 50%, #feffdf 100%);
  font-family: "Fira Sans", sans-serif;
}

.cold {
  display: block;
  max-width: 850px;
  margin: 30px auto;
  padding: 40px;
  padding-bottom: 0;
  border: 1px #e3f6f5 solid;
  border-radius: 10px;
  background: linear-gradient(to top, #e3f6f5 0%, #bae8e8 50%, #e3f6f5 100%);
  font-family: "Fira Sans", sans-serif;
}

.medium {
  display: block;
  max-width: 850px;
  margin: 30px auto;
  padding: 40px;
  padding-bottom: 0;
  border: 1px #f9f9ea solid;
  border-radius: 10px;
  background: linear-gradient(to top, #feffdf 0%, #ffe79a 50%, #feffdf 100%);
  font-family: "Fira Sans", sans-serif;
}

.hot {
  display: block;
  max-width: 850px;
  margin: 30px auto;
  padding: 40px;
  padding-bottom: 0;
  border: 1px #ff9a3c solid;
  border-radius: 10px;
  background: linear-gradient(to top, #ff9a3c 0%, #ff6f3c 50%, #ff9a3c 100%);
  font-family: "Fira Sans", sans-serif;
}

.row {
  font-family: "Fira Sans", sans-serif;
}

.search-box {
  background: #feffdf;
  border-radius: 5px;
  margin-right: 10px;
  font-weight: 200;
  font-family: sans-serif;
}

.search-box:focus {
  outline: none;
}

.search-button {
  background: #ffe79a;
  border-radius: 5px;
  border: 1px solid black;
  font-weight: 200;
  font-family: sans-serif;
  padding: 0px 6px;
}

.search-button:hover {
  background: #ffa952;
}
.top-result-row {
  padding: 20px 0 0 0;
}

.temperature-now {
  text-align: center;
  display: inline-block;
  font-size: 32px;
  color: black;
}

.temps {
  color: #ffa952;
  text-decoration: none;
  font-size: 18px;
  vertical-align: super;
}

.active {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

.active:hover {
  text-decoration: none;
  color: black;
  cursor: default;
}

.icon-now {
  text-align: center;
}

.middle-results-row {
  padding: 10px 0px;
}

.wind {
  text-align: left;
  font-size: 16px;
  font-weight: 300;
}
.humidity {
  text-align: left;
  font-size: 16px;
  font-weight: 300;
}

.highlow {
  text-align: right;
  font-size: 16px;
  font-weight: 300;
}

.spotify-embed {
  margin: 20px 0 0 0;
  border: 5px #ef5a5a;
}
.future-days {
  border-radius: 10px;
}

.forecast {
  text-align: right;
  list-style: none;
  font-size: 16px;
  font-weight: 200;
}

.forecast img {
  width: 45px;
}
.footer {
  display: block;
  margin: 0 auto;
  text-align: left;
  font-size: 16px;
  font-weight: 200;
  padding: 20px 0;
}

.fa-thin fa-cloud {
  font-family: sans-serif;
}

.results {
  font-size: 22px;
  font-weight: 300;
  text-align: left;
}

h1 {
  font-weight: 600;
}

h2,
h3,
h4,
h5 {
  font-weight: 300;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h6 {
  font-weight: 300;
}

p {
  text-align: right;
  font-weight: 200;
  font-size: 20px;
}

i {
  color: #ffa952;
}
